<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:mudoo>

<head>
    <title>编辑文件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/progress-custom.css' />
    <script language="javascript" src="/javascripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shCore.js"></script>
    <!--<link href="/stylesheets/index_q_a.css" rel="stylesheet">
    <script language="javascript" src="/javascripts/jquery.form.js"></script>
    代码高亮
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shCore.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter-scripts/shBrushPerl.js"></script>
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter-styles/shCore.css" />
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter-styles/shThemeDefault.css" />
    -->

    <style>
        #progressbar-custom-container {
            position: absolute;
            z-index: 22;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            width: auto;
            height: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<script>
    //初始化res加载进度条
    function initResLoad() {
        var script_arr = ['/stylesheets/index_q_a.css', '/javascripts/jquery.form.js',
            '/syntaxhighlighter-scripts/shBrushBash.js', '/syntaxhighlighter-scripts/shBrushCss.js',
            '/syntaxhighlighter-scripts/shBrushCSharp.js', '/syntaxhighlighter-scripts/shBrushJScript.js', '/syntaxhighlighter-scripts/shBrushPhp.js',
            '/syntaxhighlighter-scripts/shBrushPlain.js', '/syntaxhighlighter-scripts/shBrushPython.js',
            '/syntaxhighlighter-scripts/shBrushJava.js', '/syntaxhighlighter-scripts/shBrushScala.js',
            '/syntaxhighlighter-scripts/shBrushSql.js', '/syntaxhighlighter-scripts/shBrushXml.js',
            '/syntaxhighlighter-scripts/shBrushPerl.js', '/syntaxhighlighter-styles/shCore.css',
            '/syntaxhighlighter-styles/shThemeDefault.css'
        ];
        var nums = script_arr.length;
        var start = 0;
        for (var i in script_arr) {
            //判断js或者css
            var res;
            if (script_arr[i].substring(script_arr[i].length - 3, script_arr[i].length).toLocaleLowerCase() == ".js") {
                res = document.createElement('script');
                res.type = 'text/javascript';
                res.src = script_arr[i]; // + "?t=" + new Date().getMilliseconds();;
            } else if (script_arr[i].substring(script_arr[i].length - 4, script_arr[i].length).toLocaleLowerCase() == ".css") {
                res = document.createElement('link');
                res.type = "text/css";
                res.rel = "stylesheet";
                res.media = 'all';
                res.href = script_arr[i]; // + "?t=" + new Date().getMilliseconds();;
            }
            document.head.appendChild(res);
            res.onload = function() {
                start++;
                var current = start / script_arr.length * 100;
                progressfn(current, start, script_arr.length);
                if (start == nums) {
                    console.log('全部加载完成');
                    loadComplete();
                }
            };
            res.onerror = function() {
                start++;
                console.log(script_arr[i] + '失败');
                if (start == nums) {
                    console.log('全部加载完成');
                    loadComplete();
                }
            }
        }
    }

    //资源加载完成调用方法
    function loadComplete() {
        document.getElementById("progressbar-custom-container").style.display = "none";
        document.getElementById("case").style.display = "";
        //高亮模式初始化
        initSyntaxHighlighter();
        //异步读取文件内容
        showHtml();
    }

    /**
     *cent进度
     *currentCount当前数
     *totalCount总数
     */
    function progressfn(cent, currentCount, totalCount) {
        cent = parseInt(cent);
        var progressbar = document.getElementById("progressbar-custom");
        progressbar = progressbar.getElementsByTagName("p");
        progressbar[0].innerHTML = cent + "%" + "              " + currentCount + "/" + totalCount;
        var progress = document.getElementById("progress-custom");
        progress.style.width = cent + "%";
    }
</script>

<body onload="initResLoad()">
    <div id="progressbar-custom-container">
        <div id="progressbar-custom">
            <div id='progress-custom'></div>
            <p></p>
        </div>
    </div>
    <div class="case" id="case" style="display:none">
        <form action="/saveFileHtml" method="post" id="saveFileHtmlForm">
            <input type="hidden" name="filepath" id="filepath" value="<%=filepath%>">
            <div class="title" style="height:32px;font-size:16px;margin-bottom: 0.5em;"><img class="r" style="cursor:pointer;" onclick="closeEditHtml()" src="/images/close_file.png"><img class="r" style="cursor:pointer;" onclick="submitBtn()" src="/images/save_file.png">文件内容<span id="isSave" style="color:#FF83FA;font-size:12px;"><span></div>
            <!--<div id="div_show" style="min-width:98%;min-height:500px;border:solid 1px #DBDBDB;" contenteditable="true">
            </div>-->
            <textarea  id="data_textArea" onkeyup="isNoSave()" onblur="dataTextAreaBlur()" name="data_textArea" style="min-width:98%;min-height:500px;border:solid 1px #DBDBDB;margin-top:10px;display:none">
            </textarea>
            <div id="data_div" contenteditable="true" oninput="changeContent()" ondblclick="dataDivDB()">
            </div>
            <div id="data_div_temp" style="display:none">
            </div>
        </form>
    </div>
</body>
<script>
    var hightType = "java";

    function isNoSave(){
        $("#isSave").text("[未保存]");
    }

    function changeContent(){
        isNoSave();
        $("#data_div_temp").html($("#data_div").html());
        $("#data_div_temp").html(replaceAllNew($("#data_div_temp").html(),"</div>","</div>\n"));
        $("#data_textArea").text($("#data_div_temp").text());
    }

    //切换为编辑状态
    function dataDivDB(){
        return false;
        $("#data_textArea").css("display","");
        $("#data_div").css("display","none");
        $("#data_textArea").focus();
    }
    //切换为高亮状态
    function dataTextAreaBlur(){
        $("#data_textArea").css("display","none");
        $("#data_div").css("display","");
        $("#data_div").html("<pre class='brush:"+hightType+";'>"+$("#data_textArea").val()+"</pre>");
        SyntaxHighlighter.highlight();//启动渲染
        // if("[未保存]"==$("#isSave").text()){
        //     submitBtn();
        // }
    }

    //每五分钟保存一次
    setInterval(function(){
        submitBtn();
    },300000);

    function closeEditHtml(){
        if($("#isSave").text()=="[未保存]"){
            if(confirm("文件尚未保存，你确定要关闭窗口吗")){
                window.close();
            }
        }else{
             window.close();
        }
    }

    function showHtml() {
        $.ajax({
            url: '/fileViewHtml?filepath=' + encodeURIComponent("<%=filepath%>"),
            type: 'GET',
            dataType: 'html',
            success: function(data) {
                hightType = getHightType("<%=filepath%>");
                $("#data_div").html("<pre class='brush:"+hightType+";'>"+data+"</pre>");
                SyntaxHighlighter.highlight();//启动渲染
               $("#data_textArea").text(data);
            },
            error: function(data) {
                alert("服务器繁忙，请稍后再试!!!")
            }
        });
    }
    //保存文件
    function submitBtn() {
        var ajax_option = {
            dataType: 'html',
            type: 'POST',
            success: function(data) {
                if (data == "1") {
                    $("#isSave").text("[已保存]");
                } else {
                    alert("保存失败!!!");
                }
            },
            error: function(text) {
                alert("服务器繁忙，请稍后再试！");
            }
        }
        $("#saveFileHtmlForm").ajaxSubmit(ajax_option);
    }

    function initSyntaxHighlighter() {
        console.log(SyntaxHighlighter.defaults);
        SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
        SyntaxHighlighter.defaults['toolbar'] = false; //去掉右上角问号图标
        SyntaxHighlighter.defaults['collapse'] = false;//是否折叠代码
        SyntaxHighlighter.defaults['gutter'] = false;//是否显示行号
        SyntaxHighlighter.defaults['title'] = "";//标题
        SyntaxHighlighter.defaults['quick-code'] = false;//双击复制粘贴
        SyntaxHighlighter.defaults['auto-links'] = false;//自动生成链接
        SyntaxHighlighter.config.tagName = 'pre'; //可以更改解析的默认Tag。
         SyntaxHighlighter.config.strings = {
            expandSource : '展开代码',
            viewSource : '查看代码',
            copyToClipboard : '复制代码',
            copyToClipboardConfirmation : '代码复制成功',
            print : '打印',
            help: '?',
            alert: '语法高亮\n\n',
            noBrush: '不能找到刷子: ',
            brushNotHtmlScript: '刷子没有配置html-script选项',
            aboutDialog: '<div></div>'
        };
        SyntaxHighlighter.all();
    }
     function keyUp(e) {
       var currKey=0,e=e||event;
       currKey=e.keyCode||e.which||e.charCode;
       var keyName = String.fromCharCode(currKey);
       alert("按键码: " + currKey + " 字符: " + keyName);
   }
function keyDown(e){  
    e.preventDefault();  
    var currKey=0, e=e||event||window.event;  
    currKey = e.keyCode||e.which||e.charCode;  
    if(currKey == 83 && (e.ctrlKey||e.metaKey)){  //CTRL+S
           submitBtn();//保存
           e.keyCode = 0; 
            if (e.preventDefault) {  // firefox
                e.preventDefault();
            } else { // other
                e.returnValue = false;
            }
    } 
}  
   document.onkeyup = keyDown;

   function getHightType(fileNameTemp){
       var extNames = fileNameTemp.split(".");
       if(extNames!=null&&extNames.length>1){
           var nameExt = extNames[extNames.length-1].toLowerCase();
           if(nameExt=="log"||nameExt=="bat"||nameExt=="sh"||nameExt=="md"||nameExt=="conf"){
                return "html";
           }else if(nameExt=="py"){
                return "python";
           }else if(nameExt=="txt"){
                return "html";
           }else{
                return nameExt;
           }
       }
       return "html";
   }


   function replaceAllNew(str, sptr1, sptr2){
    return str.replace(new RegExp(sptr1, "g"),sptr2);
}
</script>

</html>